@import 'vars';
@import 'global';
@import 'fonts';

.header__top-inner {
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
}

.header__text {
    margin-left: auto;
    margin-right: 50px;

    span {
        color: $red;
    }
}

.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
}

.header__btn-login {
    background-color: $green;
}

.header__btn-register {
    background-color: $red;
    margin-left: 7px;
}

.header__menu {
    background-color: $bg;
}

.menu {
    height: 60px;
    display: flex;
    align-items: center;

}

.menu__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 30px;
        }
    }

    a {
        @include f500;
        color: #fff;
        font-size: 14px;

    }
}

// end header
// start serch
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}

.search__inner {
    padding: 130px 0 100px;
    color: #fff;
    text-align: center;

    &-title {
        @include f700;
        font-size: 48px;
        line-height: 72px;
        margin-bottom: 10px;
    }

    &-text {
        margin-bottom: 50px;
        font-size: 20px;
        @include f500;
        line-height: 30px;
    }

    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;

        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding-left: 25px;
            padding-right: 50px;
            // outline: none;
            // &:focus {
            //     border: 1px solid $green;
            // }

            &::placeholder {
                color: #90a4ae;
                font-size: 14px;
                @include f500;
            }
        }

        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 23px;
            top: 18px;
        }
    }

}

// end search
// start products


.products {
    padding: 110px 0;
    background-color: $grey;
}

.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;


    button {
        border: none;
        padding: 12px 21px;
        background-color: #fff;
        color: $bg;
        @include f500;
        font-size: 14px;
        cursor: pointer;

        &+button {
            margin-left: 5px;
        }

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }

}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;

    &-star {
        font-size: 12px;

        span {
            color: $bg;
        }
    }

    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        align-items: center;
        border-bottom: 1px solid #e7ecf2;
    }

    &-name {
        max-width: 310px;
    }

    &-title {
        color: $bg;
        line-height: 20px;
        @include f500;
        font-size: 18px;
    }

    &-category {
        display: block;
        @include f500;
        font-size: 14px;
        color: $green;
    }

    &-price {
        font-size: 14px;
        color: $bg;
        @include f700
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        min-height: 70px;


    }

    &-autor {
        display: flex;
        align-items: center;
        max-width: 245px;

        span {
            font-size: 15px;
            @include f500;
        }

        .avatar {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 14px;
        }


    }




}

.products__bottom-btn {
    margin-top: 45px;
    text-align: center;

    button {
        margin: 0 5px;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}

//  end .products
//  start product slider
.product-slider {
    padding: 110px 0 120px;

    .slick-dots {
        text-align: center;
        margin-top: 50px;

        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 4px;
            cursor: pointer;

            &.slick-active {
                button {
                    background-color: $green;
                }
            }

            button {
                border: none;
                font-size: 0;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                background-color: rgb(232, 232, 232);
                outline: none;
            }
        }

    }
}

//  end .product slider
//  start advantages

.advantages {
    background-color: $bg;
    padding: 110px 0;

}

.advantages__title {
    color: #fff;
    margin-bottom: 85px;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    min-width: 370px;
    text-align: center;
    padding: 0 15px;

    &:hover {
        .advantages__item-images {
            background-color: $green;

            svg {
                fill: #fff;
            }
        }

        .advantages__item-title {
            color: $green;

        }
    }

    &-images {
        border-radius: 50%;
        width: 114px;
        height: 114px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 30px;
        transition: all .3s;
    }

    &-title {
        color: #fff;
        margin-bottom: 25px;
        @include f500;
        font-size: 24px;
        margin-bottom: 30px;
        transition: all .3s;

    }

    &-text {
        font-size: 15px;
    }
}